@model IEnumerable<AzureStorage.Table.Models.AuditTrailModel>
@{
    String userName = User.Identity.Name;
    if (User.Identity.Name.Contains('#'))
    {
        userName = User.Identity.Name.Split('#')[1];
    }
    ViewBag.Title = userName;

    HttpCookie settingsCookie = Request.Cookies["SettingsCookie"];
    bool useQuickSearch = (settingsCookie != null && settingsCookie.Values.HasKeys() && settingsCookie.Values.Get("SearchSetting") == "Quick");
}
<section id="allContent" class="content">

    <h2>@userName</h2>
    

    <h3>Settings</h3>

    <h4>Search</h4>
    @if(useQuickSearch)
    {
        <input type="radio" name="searchType" value="default" id="searchDefault"><text> Default</text> <br />
        <input type="radio" name="searchType" value="quick" id="searchQuick" checked><text> Quick search (w/o snippets)</text><br>
    }
    else
    {
        <input type="radio" name="searchType" value="default" id="searchDefault" checked><text> Default</text> <br />
        <input type="radio" name="searchType" value="quick" id="searchQuick"><text> Quick search (w/o snippets)</text><br>
    }

    <h3>Themes</h3>
    <button class="btn btn-default" id="grayscale">Dark</button>
    <button class="btn btn-default" id="united">United</button>
    <button class="btn btn-default" id="ceru">Cerulean</button>
    <button class="btn btn-default" id="default">Default</button>
    <button class="btn btn-default" id="slate">Slate</button>

    <h3>Your edits</h3>
    <p><em>(only the latest version you edited is listed here, and only the current version is linked to.)</em></p>

    <table class="simpleTable">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                Page
            </th>
            <th>
                Originating IP
            </th>
            <th>
                Latest version
            </th>
            <th>
                Size
            </th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.Time.ToString("yyyy-MM-dd hh:mm:ss")
            </td>
            <td>
                @Html.Raw(Wiki.Utilities.WikiBlob.GetAsWikiLink(item.Blob))
            </td>
            <td>
                <a href="http://whatismyipaddress.com/ip/@item.UserHostAdr">@Html.DisplayFor(modelItem => item.UserHostAdr)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @Wiki.Utilities.WikiBlob.BlobSizeToString(item.LengthInBytes)
            </td>
        </tr>
        }
        
    </table>
</section>

@section breadcrumb
{
    <li><a href="/Wiki">Index</a></li>
    <li><a href="/Wiki/UserProfile">Profile</a></li>
    <li class="active">@userName</li>
}

@section scripts {
    <script>

        // --------------------------------------------------------------------------------------------- Search settings functions

        $("#searchDefault").click(
            function ()
            {
                SetSearchSettingPreference("Default");
            }
        );

        $("#searchQuick").click(
            function () {
                SetSearchSettingPreference("Quick");
            }
        );

        function SetSearchSettingPreference(preference)
        {
            var url = "@Url.Action("AddOrUpdateSettingsCookie", "Wiki")";
            $.ajax({
                url: url,
                type: 'POST',
                data: '{ "value": "' + preference + '","preference": "SearchSetting"}',
                contentType: 'application/json',
                async: true,
                success: function (data)
                {
                    if (data == "success")
                    {
                    }
                    else
                    {
                        alert(data);
                    }
                }
            });
        }
        // End search settings functions

        // --------------------------------------------------------------------------------------------- Theme functions

        $("#grayscale").click(function () {
            $("head link#theme").attr("href", "/Content/Themes/DarkTheme.css");
            $("head link#bootTheme").attr("href", "/Content/bootstrap/bootstrap.dark.min.css");
            SetThemeForUser("DarkTheme,dark");
        });

        function SetThemeForUser(theme)
        {
            var url = "@Url.Action("AddorUpdateCookie", "Wiki")";
            $.ajax({
                url: url,
                type: 'POST',
                data: '{ "value": "' + theme + '","cookieName": "ThemeCookie"}',
                contentType: 'application/json',
                async: true,
                success: function (data)
                {
                    if (data == "success")
                    {

                    }
                    else
                    {
                        alert(data);
                    }
                }
            });
        }

        $("#ceru").click(function () {
            $("head link#theme").attr("href", "/Content/Themes/CeruleanTheme.css");
            $("head link#bootTheme").attr("href", "/Content/bootstrap/bootstrap.cerulean.min.css");
            SetThemeForUser("CeruleanTheme,cerulean");
        });


        $("#slate").click(function () {
            $("head link#theme").attr("href", "/Content/Themes/SlateTheme.css");
            $("head link#bootTheme").attr("href", "/Content/bootstrap/bootstrap.slate.min.css");
            SetThemeForUser("SlateTheme,slate");
        });

        $("#default").click(function () {
            $("head link#theme").attr("href", "/Content/Themes/DefaultTheme.css");
            $("head link#bootTheme").attr("href", "/Content/bootstrap/bootstrap.min.css");
            SetThemeForUser("DefaultTheme");
        });

        $("#united").click(function () {
            $("head link#theme").attr("href", "/Content/Themes/UnitedTheme.css");
            $("head link#bootTheme").attr("href", "/Content/bootstrap/bootstrap.united.min.css");
            SetThemeForUser("UnitedTheme,united");
        });

        // End Theme functions
    </script>
}